@font-face {
    font-family: "HankenGrotesk-Bold";
    src: url(../fonts/static/HankenGrotesk-Bold.ttf);
}

@font-face {
    font-family: "HankenGrotesk-ExtraBold";
    src: url(../fonts/static/HankenGrotesk-ExtraBold.ttf);
}

@font-face {
    font-family: "HankenGrotesk-Medium";
    src: url(../fonts/static/HankenGrotesk-Medium.ttf);
}

@font-face {
    font-family: "HankenGrotesk-var";
    src: url(../fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root{
    /* Primary Colors */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradient Color (Background) */
    --light-slate-blue:hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);

    /* Gradient Color (Circle) */
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral Color */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

}


*{
    font-size: inherit;
    font-weight: inherit;
    font-family: HankenGrotesk-medium;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media (width >= 640px){
        justify-content: center;
        align-items: center;
    }
}

.card--body{
    display: grid;
    grid-template-columns: repeat(1,1fr);

    @media (width >= 640px ){
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin: 0 2.5rem;
        box-shadow: 1px 0px 10px var(--pale-blue);
        border-radius: 2rem;
    }

    @media (width >= 1024px){
        width: 60%;
    }

    @media (width >= 1526px){
        width: 40%;
    }
}

.result--container{
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0 0 3rem 3rem;

    & .result--text{
        color: var(--light-lavender);
        font-family: HankenGrotesk-Bold;
        font-size: 1.2rem;
    }

    @media (width >= 640px){
       border-radius: 1rem;
    }

}

.score--board{
    background-image: linear-gradient(to top, var(--persian-blue), var(--violet-blue));
    border-radius: 50%;
    padding: 2rem 3rem;

    & h1{
        color: var(--white);
        font-family: HankenGrotesk-ExtraBold;
        font-size: 4rem;
        margin: 0;
    }

    & p{
        color: var(--light-lavender);
        font-family: HankenGrotesk-Bold;
        margin: 0;
        text-align: center;

    }


}

.remark--container{
    text-align: center;

    & h2{
        color: var(--white);
        font-family: HankenGrotesk-Bold;
        font-size: 1.5rem;
    }

    & p{
        font-size: 1.1rem;
        color: var(--light-lavender);
    }
}

.summary--container{
    display: flex;
    flex-direction: column;

    & h1{
        font-family: HankenGrotesk-Bold;
        font-size: 1.2rem;
    }
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
    margin: 0;

    & li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 0;
    }
}

li:nth-child(1){
    color: var(--light-red);
    background-color: hsl(0, 100%, 67%, 0.1);
    border-radius: .5rem;
    padding: .8rem 1rem;
}

li:nth-child(2){
    color: var(--orangey-yellow);
    background-color: hsl(39, 100%, 56%, 0.1);
    border-radius: .5rem;
    padding: .8rem 1rem;

}

li:nth-child(3){
    color: var(--green-teal);
    background-color: hsl(166, 100%, 37%, 0.1);
    border-radius: .5rem;
    padding: .8rem 1rem;

}

li:nth-child(4){
    color: var(--cobalt-blue);
    background-color: hsl(234, 85%, 45%, 0.1);
    border-radius: .5rem;
    padding: .8rem 1rem;

}

.icon--des{
    display: flex;
    align-items: center;
    gap: 1rem;

    & .title{
        font-family: HankenGrotesk-Bold;
    }
}

.score--block{
    color: var(--dark-gray-blue);
    font-family: HankenGrotesk-ExtraBold;

    & .score{
        font-family: HankenGrotesk-ExtraBold;
    }
}

button{
    font-family: HankenGrotesk-Medium;
    font-size: 1.3rem;
    border-radius:2rem;
    padding: .8rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 1rem 1.5rem;
    background-color: var(--dark-gray-blue);
    color: var(--white);
}